@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body>

    <p id="p1">Hello World!</p>

    <script>
        document.getElementById("p1").innerHTML = "New text!";
    </script>

</body>
</html>
